body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position: relative;
}

.hide {
  display: none !important;
}

#img-hamburger, #img-search, #list-menu-nav > li > a, .btn-cta, .list-footer-links > li > a {
  cursor: pointer;
}
/* Header */
header {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#header-logo, #footer-logo {
  width: 112px;
  height: 30px;
}

#img-hamburger {
  width: 24px;
  height: 20px;
}

#list-menu-nav {
  width: 225px;
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 2;
  padding: .5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 0%);
}

#list-menu-nav > li {
  margin-bottom: 1rem;
}

#list-menu-nav > li:last-of-type {
  margin-bottom: 0;
}

#list-menu-nav > li > a {
  text-align: center;
}

#form-search {
  width: 100%;
}

form > label {
  width: 100%;
  position: relative;
}

#img-search {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: .75rem;
}

#input-search {
  width: 100%;
  padding: 1rem 1rem 1rem 2.5rem;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 4px;
}

#input-search::placeholder {
  color: hsl(0, 0%, 0%);
}

#input-search:focus {
  outline: none;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(274, 63%, 84%);
}

#input-search:focus + #img-search > g > path {
  fill: hsl(274, 63%, 84%);
}

#link-sign-in {
  display: block;
  padding: 1rem;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 4px;
  font-weight: 600;
}

#link-sign-in:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.btn-cta:hover {
  background-color: transparent;
  color: hsl(0, 0%, 0%);
}

/* Main */
.div-hero {
  background: url('../Assets/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 1rem 0 1rem;
}

.div-hero > div {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.15rem;
}

.div-hero > div > h2 {
  margin: 0 auto;
  font-size: 3.25rem;
  font-weight: 700;
}

.div-hero > div > div {
  width: 100%;
  margin: 1rem auto;
}

#img-hero {
  display: block;
}

.btn-cta {
  display: block;
  padding: 1rem;
  background-color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
}

.btn-cta > b {
  font-weight: 600;
}

.div-hero > div > .btn-cta {
  width: 100%;
  margin-bottom: 1rem;
}

.div-features {
  padding: 4rem 1rem;
}

#img-snippet-editor {
  display: block;
  width: 90%;
  margin: 0 auto 4rem auto;
}

.div-features > div > h3 {
  width: 95%;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.div-features > div > div {
  font-weight: 300;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  padding: 0 1rem 2rem 1rem;
}

footer > h2 {
  margin-bottom: 1rem;
}

.list-footer-links {
  display: flex;
  align-items: center;
}

.list-footer-links > li {
  margin-right: 1rem;
  font-weight: 300;
  font-size: 1.15rem;
}

.list-footer-links > li > a:hover {
  color: hsl(274, 63%, 84%);
}

@media (min-width: 768px) {
  nav {
    width: fit-content;
  }

  #list-menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: initial;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: none;
  }

  #list-menu-nav > li {
    margin-left: 1rem;
    margin-bottom: 0;
  }

  #img-search {
    width: 16px;
    height: 16px;
    position: initial;
  }

  #img-search:hover > g > path {
    fill: hsl(0, 0%, 100%);
  }

  #link-sign-in {
    text-align: start;
    padding: 0;
    border: none;
    font-weight: 400;
  }
  
  #link-sign-in:hover {
    color: hsl(0, 0%, 100%);
    background-color: transparent;
  }

  .btn-cta {
    padding: .5rem 1rem;
  }

  header, .div-hero, .div-features, footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .div-hero > div {
    margin-bottom: 6rem;
  }

  .div-hero > div > h2, .div-hero > div > div {
    width: 90%;
  }

  .div-hero > div > .btn-cta {
    width: fit-content;
    margin: 0 auto 1rem auto;
  }

  #img-snippet-editor {
    width: 70%;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer > h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  header, .div-hero, .div-features, footer {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .div-hero {
    padding-top: 8rem;
  }

  .div-hero > div > h2 {
    width: 80%;
    font-size: 3.6rem;
  }

  .div-hero > div > div {
    width: 58%;
  }

  .div-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #img-snippet-editor {
    width: 37%;
    margin: 0;
    order: 2;
  }

  .div-features > div {
    order: 1;
  }

  .div-features > div > h3 {
    font-size: 2.5rem;
  }

  .div-features > div > div {
    width: 82%;
  }

  footer {
    padding-bottom: 4rem;
  }
}